name: reviewdog
on: [pull_request]

jobs:
    eslint:
        name: runner / eslint
        runs-on: ubuntu-latest
        permissions:
            contents: read
            pull-requests: write
            checks: write
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
            - run: npm install --legacy-peer-deps
            - name: Eslint Check
              uses: reviewdog/action-eslint@v1
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  reporter: github-pr-review
